{% extends 'cliente/area_cliente/index_cliente.html' %}
{% load staticfiles %}

{% block nav %}
<header id="header" class="header fixed-top d-flex align-items-center">
<div class="container d-flex align-items-center justify-content-between">
<a href="#" class="logo d-flex align-items-center me-auto me-lg-0">
    <!-- Uncomment the line below if you also wish to use an image logo -->
    <!-- <img src="{% static 'assets-3/img/logo.png' %}" alt=""> -->
    <h1><img src="{% static 'images/logo2.png' %}" alt="logo"></h1>
</a>

<nav id="navbar" class="navbar">
    <ul>
        <li><a href="{% url 'cliente:inicio_cliente' %}">Volver a Inicio</a></li>
    </ul>
</nav><!-- .navbar -->

<i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
<i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
</div>
</header>
{% endblock %}

{% block content %}
<br><br><br><br>
<div class="container" data-aos="fade-up">
    <div class="section-header">
        <br>
        <p>Muchas <span> Gracias</span></p>
    </div>
</div>

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="text-center alert alert-success" role="alert">
                    <img src="https://heraldodemexico.com.mx/u/fotografias/m/2021/2/25/f1280x720-327241_458916_5050.jpg" style="width: 50%;">
                    <p></p>
                    Gracias por su compra, su pedido estará pronto en su mesa. Vuelva pronto!
                </div>
            </div>
        </div>
    </div>
</section>
<br><br>
{% endblock %}