arabic-reshaper==2.1.4
certifi==2022.9.24
charset-normalizer==2.0.12
cx-Oracle==8.3.0
dataclasses==0.8
Django==2.2.4
django-crispy-forms==1.9.2
future==0.18.2
idna==3.4
Pillow==8.4.0
python-bidi==0.4.2
pytz==2022.5
requests==2.27.1
six==1.16.0
sqlparse==0.4.3
typing_extensions==4.1.1
urllib3==1.26.12
webencodings==0.5.1