{% extends 'index.html' %}
{% load staticfiles %}

{% block titulo1 %}
    <div class="card-header">
        <div class="row">
            <div class="col-md-8">
                <strong class="card-title">Listado de Boletas emitidas</strong>
            </div>
        </div>
    </div>
{% endblock titulo1 %}


{% block listado %}
    {% if ordenes %}
    <div class="table-stats order-table ov-h">
        <table id="tabla_libros" class="table">
            <thead>
                <tr>
                    <th class="text-center">Código boleta</th>
                    <th class="text-center">Nombre del cliente</th>
                    <th class="text-center">Apellido del cliente</th>
                    <th class="text-center">Email del cliente</th>
                    <th class="text-center">Fecha de orden</th>
                    <th class="text-center">Total boleta</th>
                    <th class="text-center">Pagado</th>
                </tr>
            </thead>
            <tbody>
                {% for orden in ordenes %}
                    <tr>
                        <td class="text-center" style="text-transform:none">{{ orden.id }}</td>
                        <td class="text-center" style="text-transform:none">{{ orden.nombre_cliente }}</td>
                        <td class="text-center" style="text-transform:none">{{ orden.apellido_cliente }}</td>
                        <td class="text-center" style="text-transform:none">{{ orden.email_cliente }}</td>
                        <td class="text-center" style="text-transform:none">{{ orden.fecha_orden }}</td>
                        <td style="text-transform:none">$ {{ orden.get_total_cost }} CLP</td>
                        <td class="text-center">
                            {% if orden.ha_pagado is True %}
                                <img src="{% static 'img/icon-yes.gif' %}" width="35%" alt="yes">
                            {% else %}
                            <img src="{% static 'img/icon-no.gif' %}" width="35%" alt="yes">
                            {% endif %}
                        </td>

                        
                        <tr class="spacer"></tr>
                        <tr class="tr-shadow">
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
        <h1>No hay boletas</h1>
    {% endif %}


{% endblock listado %}