{% extends 'index.html' %}

{% block titulo1 %}
<div>
    <button class="btn btn-primary" type="button" onclick="abrir_modal_creacion('{% url 'usuarios:registrar_usuario' %}')">Crear Usuario</button>
</div>
    <div class="card-header">
        <div class="row">
            <div class="col-md-8">
                <strong class="card-title">Listado de Usuarios</strong>
            </div>
        </div>
    </div>
{% endblock titulo1 %}


{% block listado %}
    {% if object_list %}
    <div class="table-stats order-table ov-h">
        <table id="tabla_libros" class="table">
            <thead>
                <tr>
                    <th class="text-center">ID</th>
                    <th class="text-center">Nombre de Usuario</th>
                    <th class="text-center">Email</th>
                    <th class="text-center">Nombres</th>
                    <th class="text-center">Apellidos</th>
                    <th class="text-center">Rol</th>
                    <th class="text-center">Opciones</th>
                </tr>
            </thead>
            <tbody>
                {% for usuario in object_list %}
                    <tr>
                        <td class="text-center" style="text-transform:none">{{ usuario.id }}</td>
                        <td class="text-center" style="text-transform:none">{{ usuario.username }}</td>
                        <td class="text-center" style="text-transform:none">{{ usuario.email }}</td>
                        <td class="text-center" style="text-transform:none">{{ usuario.nombres }}</td>
                        <td class="text-center" style="text-transform:none">{{ usuario.apellidos }}</td>
                        <td class="text-center" style="text-transform:none">{% for group in usuario.groups.all %}{{group}}{% if not forloop.last %},{% endif %}{% endfor %}</td>
                        <td>
                            <div class="table-data-feature">
                                <button onclick="abrir_modal_edicion('{% url 'usuarios:editar_usuario' usuario.id %}')" class="btn btn-primary">Editar
                                </button>
                                
                                <a href="{% url 'usuarios:eliminar_usuario' usuario.id %}"><button class="btn btn-danger">Eliminar
                                </button></a>
                            </div>
                        </td>
                        <tr class="spacer"></tr>
                        <tr class="tr-shadow">
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
        <h1>No existen usuarios registrados</h1>
    {% endif %}

<div class="modal fade" id="creacion" role="dialog"></div>
<div class="modal fade" id="edicion" role="dialog"></div>

{% endblock listado %}

{% block extrajs %}

<script type="text/javascript">
    var $ = jQuery.noConflict();
    function abrir_modal_edicion(url){
        $('#edicion').load(url, function (){
            $(this).modal('show');
        });
    }
    function abrir_modal_creacion(url){
        $('#creacion').load(url,function(){
            $(this).modal('show');
        });
    }
</script>

{% endblock extrajs %}