{% extends 'index.html' %}

{% block titulo1 %}
<div>
    <button class="btn btn-primary" type="button" onclick="abrir_modal_creacion('{% url 'mantenedor:crear_mesa' %}')">Crear Mesa</button>
</div>
    <div class="card-header">
        <div class="row">
            <div class="col-md-8">
                <strong class="card-title">Listado de Mesas</strong>
            </div>
        </div>
    </div>
{% endblock titulo1 %}


{% block listado %}
    {% if mesas %}
    <div class="table-stats order-table ov-h">
        <table id="tabla_libros" class="table">
            <thead>
                <tr>
                    <th>Número de mesa</th>
                    <th>Descripción mesa</th>
                    <th>Cantidad de Personas</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody>
                {% for mesa in mesas %}
                    <tr>
                        <td>Mesa N°{{ mesa.numero_mesa }}</td>
                        <td>{{ mesa.descripcion_mesa }}</td>
                        <td>{{ mesa.cantidad_personas }} Personas</td>
                        <td>
                            <div class="table-data-feature">
                                <button onclick="abrir_modal_edicion('{% url 'mantenedor:editar_mesa' mesa.id %}')" class="btn btn-primary">Editar
                                </button>
                                
                                <a href="{% url 'mantenedor:eliminar_mesa' mesa.id %}"><button class="btn btn-danger">Eliminar
                                </button></a>
                            </div>
                        </td>
                        <tr class="spacer"></tr>
                        <tr class="tr-shadow">
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
        <h1>No existen mesas registrados</h1>
    {% endif %}

<div class="modal fade" id="creacion" role="dialog"></div>
<div class="modal fade" id="edicion" role="dialog"></div>

{% endblock listado %}

{% block extrajs %}

<script type="text/javascript">
    var $ = jQuery.noConflict();
    function abrir_modal_edicion(url){
        $('#edicion').load(url, function (){
            $(this).modal('show');
        });
    }
    function abrir_modal_creacion(url){
        $('#creacion').load(url,function(){
            $(this).modal('show');
        });
    }
</script>

{% endblock extrajs %}