{% extends 'cliente/area_cliente/index_cliente.html' %}
{% load staticfiles %}

{% block nav %}
<nav id="navbar" class="navbar">
    <ul>
        <li><a href="{% url 'cliente:tienda' %}">Restaurant</a></li>
        <li><a href="{% url 'cliente:lista_de_recetas' %}">Recetas</a></li>
        <li><a href="">Mi pedido</a></li>
        <li><a href="{% url 'cliente:inicio_cliente' %}">Volver</a></li>
    </ul>
</nav><!-- .navbar -->
{% endblock %}




{% block content %}
<br><br><br><br><br><br><br><br><br><br><br><br><br>
{% endblock %}
    <script src="{% static 'assets-3/js/jquery.min.js' %}" charset="utf-8"></script>
    <script src="{% static 'assets-3/js/bootstrap.min.js' %}" charset="utf-8"></script>
  </body>
</html>
