{% extends 'index.html' %}

{% block titulo1 %}
<div>
    <button class="btn btn-primary" type="button" onclick="abrir_modal_creacion('{% url 'libro:crear_libro' %}')">Crear Proveedor</button>
</div>
    <div class="card-header">
        <div class="row">
            <div class="col-md-8">
                <strong class="card-title">Listado de Proveedores</strong>
            </div>
        </div>
    </div>
{% endblock titulo1 %}


{% block listado %}
    {% if libros %}
    <div class="table-stats order-table ov-h">
        <table id="tabla_libros" class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre proveedor</th>
                    <th>Correo proveedor</th>
                    <th>Teléfono proveedor</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody>
                {% for libro in libros %}
                    <tr>
                        <td>{{ libro.id }}</td>
                        <td>{{ libro.nombre_proveedor }}</td>
                        <td>{{ libro.correo_proveedor }}</td>
                        <td>{{ libro.telefono_proveedor }}</td>
                        <td>
                            <div class="table-data-feature">
                                <button onclick="abrir_modal_edicion('{% url 'libro:editar_libro' libro.id %}')" class="btn btn-primary">Editar
                                </button>
                                
                                <a href="{% url 'libro:eliminar_libro' libro.id %}"><button class="btn btn-danger">Eliminar
                                </button></a>
                            </div>
                        </td>
                        <tr class="spacer"></tr>
                        <tr class="tr-shadow">
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
        <h1>No existen proveedores registrados</h1>
    {% endif %}

<div class="modal fade" id="creacion" role="dialog"></div>
<div class="modal fade" id="edicion" role="dialog"></div>

{% endblock listado %}

{% block extrajs %}

<script type="text/javascript">
    var $ = jQuery.noConflict();
    function abrir_modal_edicion(url){
        $('#edicion').load(url, function (){
            $(this).modal('show');
        });
    }
    function abrir_modal_creacion(url){
        $('#creacion').load(url,function(){
            $(this).modal('show');
        });
    }
</script>

{% endblock extrajs %}