{% extends 'index.html' %}

{% block titulo1 %}
<div>
    <button class="btn btn-primary" type="button" onclick="abrir_modal_creacion('{% url 'mantenedor:crear_producto' %}')">Solicitar insumos</button>
</div>
    <div class="card-header">
        <div class="row">
            <div class="col-md-8">
                <strong class="card-title">Solicitudes de insumos</strong>
            </div>
        </div>
    </div>
{% endblock titulo1 %}


{% block listado %}

    {% if productos %}
    <div class="table-stats order-table ov-h">
        <table id="tabla_libros" class="table">
            <thead>
                <tr>
                    <th class="text-center">ID</th>
                    <th class="text-center">Nombre producto</th>
                    <th class="text-center">Cantidad</th>
                    <th class="text-center">Proveedor</th>
                    <th class="text-center">Descripción</th>
                    <th class="text-center">Opciones</th>
                </tr>
            </thead>
            <tbody>
                {% for producto in productos %}
                    <tr>
                        <td class="text-center" style="text-transform:none">{{ producto.id }}</td>
                        <td class="text-center" style="text-transform:none">{{ producto.nombre_producto }}</td>
                        <td class="text-center" style="text-transform:none">{{ producto.cantidad }}</td>
                        <td class="text-center" style="text-transform:none">{{ producto.proveedor }}</td>
                        <td class="text-center" style="text-transform:none">{{ producto.descripcion }}</td>
                        <td>
                            <div class="table-data-feature">
                                <button onclick="abrir_modal_edicion('{% url 'mantenedor:editar_producto' producto.id %}')" class="btn btn-primary">Editar
                                </button>
                                
                                <a href="{% url 'mantenedor:eliminar_producto' producto.id %}"><button class="btn btn-danger">Eliminar
                                </button></a>
                            </div>
                        </td>
                        <tr class="spacer"></tr>
                        <tr class="tr-shadow">
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    {% else %}
        <h1>No existen solicitudes registradas</h1>
    {% endif %}


<div class="modal fade" id="creacion" role="dialog"></div>
<div class="modal fade" id="edicion" role="dialog"></div>
{% endblock listado %}

{% block extrajs %}

<script type="text/javascript">
    var $ = jQuery.noConflict();
    function abrir_modal_edicion(url){
        $('#edicion').load(url, function (){
            $(this).modal('show');
        });
    }
    function abrir_modal_creacion(url){
        $('#creacion').load(url,function(){
            $(this).modal('show');
        });
    }
</script>

{% endblock extrajs %}