{% extends 'index.html' %}
{% load staticfiles %}

{% block titulo %}
    Confirmación de Eliminación
{% endblock titulo %}

{% block listado %}
<body>
    <div class="card">
        <div class="card-body">
            <form method="POST">
                {% csrf_token %}
                <p><strong>¿Desea eliminar el registro "{{ object }}"?</strong></p>
                <button type="submit" class="btn btn-primary">Confirmar</button>
                <a href="{% url 'libro:listar_autor' %}"><button class="btn btn-danger" type="button">Cancelar</button></a>
            </form>
        </div>
    </div>
</body>

{% endblock listado %}