{% extends 'cliente/area_cliente/index_cliente.html' %}
{% load staticfiles %}

{% block nav %}
<a href="#" class="logo d-flex align-items-center me-auto me-lg-0">
    <!-- Uncomment the line below if you also wish to use an image logo -->
    <!-- <img src="{% static 'assets-3/img/logo.png' %}" alt=""> -->
    <h1><img src="{% static 'images/logo2.png' %}" alt="logo"></h1>
  </a>
{% endblock %}

{% block content %}
<br><br><br><br>
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body class="text-center">
    <div class="section-header">
        <br>
        <h2>Pago</h2>
        <p>Escoge el método<span> con el que vas a pagar</span></p>
      </div>
    <!-- Replace "test" with your own sandbox Business account app client ID -->
    <script src="https://www.paypal.com/sdk/js?client-id=AXGyL4ssAbfjNB0n4ojv8LVi_cXd-q9MpKzk5W3qxpDQyhUJDrua6Oivmp3aIj0k3fDzpzhH24yS27PI"></script>
    <!-- Set up a container element for the button -->
    <div id="paypal-button-container"></div>
    <script>
      paypal.Buttons({
        // Sets up the transaction when a payment button is clicked
        createOrder: (data, actions) => {
          return actions.order.create({
            purchase_units: [{
              amount: {
                value: '15.64' // Can also reference a variable or function
              }
            }]
          });
        },
        // Finalize the transaction after payer approval
        onApprove: (data, actions) => {
          return actions.order.capture().then(function(orderData) {
            // Successful capture! For dev/demo purposes:
            console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
            const transaction = orderData.purchase_units[0].payments.captures[0];
            alert(`Transaction ${transaction.status}: ${transaction.id}\n\nSee console for all available details`);
            // When ready to go live, remove the alert and show a success message within this page. For example:
            // const element = document.getElementById('paypal-button-container');
            // element.innerHTML = '<h3>Thank you for your payment!</h3>';
            // Or go to another URL:  actions.redirect('thank_you.html');
            window.location.href = '{% url 'cliente:gracias' %}';
          });
        }
      }).render('#paypal-button-container');
    </script>
    <a href="{% url 'cliente:gracias' %}"><div class="text-center"><button class="btn btn-primary">Pagar en Efectivo</button></div></a>
  </body>
</html>
<br><br><br>
{% endblock %}